<!DOCTYPE html>
<html>
<head>
  <title>Task Application</title>
<%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div align="center"><table>
<tr>
	<th>MY TASK FOR TODAY</th><br><br>
</tr>
</table></div><br><br>

<div align="center">@@@ bahagian atas @@@</div>

<%= yield %>

<div align="center">@@@ bahagaian bawah @@@</div>
</body>
</html>
