<!DOCTYPE html>
<html>
<head>
  <title>Task Application</title>
<%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<table>
<tr>
	<th>MY PROFILE</th>
</tr>
</table>
@@@ bahagian atas @@@

<%= yield %>

@@@ bahagaian bawah @@@
</body>
</html>
